<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=docTitle%></title>
    <link rel="stylesheet" href="/css/fac-style.css" />
    <script
      src="https://kit.fontawesome.com/8635c21465.js"
      crossorigin="anonymous"
    ></script>

    <link
      rel="stylesheet"
      href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css"
      rel="stylesheet"
    />
