<%- include("../partials/header")%>
<link rel="stylesheet" href="/css/admin.css">
<%- include("../partials/header-closer")%>
<body>
    <%- include('../partials/navbar') %>
    <h1><%=docHeader%></h1>
</body>
</html>